---
---

.project-tagline {
  margin-bottom: 2rem;

  @include large {
    font-size: 1.25rem;
  }

  @include medium {
    font-size: 1.15rem;
  }

  @include small {
    font-size: 1rem;
  }
}

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #f39c12;
$header-bg-color-secondary: #e67e22;

// Text
$section-headings-color: #232226;
$body-text-color: #524F57 !default;
$body-link-color: #FF791C !default;
$blockquote-text-color: #819198 !default;

@import "{{ site.theme }}";
